.Logo {
    color: var(--Pri-Color, #00AFB9);
font-family: Holtwood One SC;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.navbar {
    background-color: white;
    width: 100;
    padding: 0;
    margin: 0;
}

.home-link{
    color: var(--Primary-900, #283EA7);

    /* Paragraph/Large/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-right: 1.2em;
    align-items: center;

}
.user-icon {
    margin-top: -10px;
    padding-right: 35px;
}